<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apululu">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".activity.myApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MatchActivity"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplasScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingsProfileActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.PreferencesActivity" />
        <activity android:name=".activity.ChataAndNotificationActivity" />
        <activity android:name=".activity.ProfileYouActivity" />
        <activity android:name=".activity.GalleryProfileActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.ProfileLikeDislikeActivity" />
        <activity android:name=".activity.OtherAtributteActivity" />
        <activity android:name=".activity.StudentAtributteActivity" />
        <activity android:name=".activity.ProfessionAtributteActivity" />
        <activity android:name=".activity.InsertOtherActivity" />
        <activity android:name=".activity.InsertPhoneActivity" />
        <activity android:name=".activity.InsertMaleFemaleActivity" />
        <activity android:name=".activity.InsertCalendarActivity" />
        <activity android:name=".activity.InsertNameActivity" />
        <activity android:name=".activity.InsertPasswordActivity" />
        <activity android:name=".activity.VerificationEmailActivity" />
        <activity android:name=".activity.InsertEmailActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginOrSingUPActivity" />

        <service android:name=".utils.InternetStateService" />
    </application>

</manifest>